<h4 class="ui center aligned medium icon header">
  <i class="circular brown coffee icon"></i>
  Say something
</h4>

<div class="ui two column grid">
    <div class="twelve wide column">
    <%= render "shared/feed"%>
    </div>

    <div class="four wide column">
    <%= render "shared/sidemenu"%>
    </div>
</div>