<div class="ui cards">
  <div class="ui fluid raised card chatbox">
    <div class="content" id="scrollable">

        <div class="ui feed" id="message-container">
        <h4 class="ui header">Followers Activity</h4>
        <%= render @messages %>
        </div>
        </div>
        <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f|%>
            <div class="field">
            <div class ="ui fluid icon input">
            <%= f.text_field :body%>
            <%= f.button '<i class="bordered inverted brown edit icon"></i>'.html_safe %>
            </div>
            </div>
        <%end%>
        </div>
</div>
</div>
        