<div class="ui cards">
  <div class="ui fluid raised card chatbox">
    <div class="content">

        <div class="ui feed">
        <h4 class="ui header">Followers Activity</h4>
        <div class="event">
            <div class="content">
            <div class="summary">
                <em>Elliot Fu</em> added <em>Jenny Hess</em> as a friend
            </div>
            </div>
        </div>
        <div class="event">
            <div class="content">
            <div class="summary">
                <em>Stevie Feliciano</em> added <em>Elliot Fu</em> as a friend
            </div>
            </div>
        </div>
        <div class="event">
            <div class="content">
            <div class="summary">
                <em>Helen Troy</em> added <em>Christian Rocha</em> as a friend
            </div>
            </div>
        </div>
        <div class="event">
            <div class="content">
            <div class="summary">
                <em>Christian Rocha</em>: signed up for the site.
            </div>
            </div>
        </div>
        </div>
        </div>
        <div class="extra content">
        <form class="ui reply form">
            <div class="field">
            <div class ="ui fluid icon input">
            <input type="text" placeholder="Enter a message...">
            <i class="bordered inverted orange edit icon"></i>
            </div>
            </div>
        </form>
        </div>
</div>
</div>
        